In [86]:
import pandas as pd

akas = '/Users/algaumon/Downloads/Projet_2/VS_code_akas/akas_fr_en_filtered.tsv'
movies = '/Users/algaumon/Documents/Projet_2/VS_code_akas/movies.tsv'
ratings = '/Users/algaumon/Documents/Projet_2/VS_code_akas/title.ratings.tsv'

df_akas = pd.read_csv(akas, sep='\t')
df_movies = pd.read_csv(movies, sep='\t')
df_ratings = pd.read_csv(ratings, sep='\t')

/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_34435/149592363.py:8: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv(movies, sep='\t')

In [87]:
df_combined = pd.merge(df_movies, df_akas, left_on='tconst', right_on='titleId', how='inner')

In [88]:
df_filme = df_combined.drop(columns=['titleType','primaryTitle','titleId','ordering','types','attributes','isOriginalTitle'])

In [89]:
df_filmindex= df_filme.reindex(['tconst','originalTitle','title','startYear','isAdult','runtimeMinutes','genres','region','language'],axis = 1)

In [90]:
df_sorted = df_filmindex.sort_values(by='region', ascending=False)
df_ok = df_sorted.drop_duplicates(subset='tconst', keep='first')

In [91]:
df_ok['startYear'] = pd.to_numeric(df_ok['startYear'], errors='coerce')

/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_34435/406086524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ok['startYear'] = pd.to_numeric(df_ok['startYear'], errors='coerce')

In [92]:
df_ok['startYear'].fillna(0, inplace=True)

/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_34435/2468595631.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ok['startYear'].fillna(0, inplace=True)
/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_34435/2468595631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ok['startYear'].fillna(0, inplace=True)

In [93]:
df_ok['startYear'] = df_ok['startYear'].astype(int)

/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_34435/2399826332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ok['startYear'] = df_ok['startYear'].astype(int)

In [94]:
df_ok=df_ok[df_ok['startYear']!=0]

In [95]:
df_ok.sort_values('startYear', ascending=False)

,tconst,originalTitle,title,startYear,isAdult,runtimeMinutes,genres,region,language
337329,tt5637536,Avatar 5,Avatar 5,2031,0,\N,"Action,Adventure,Fantasy",IN,en
300480,tt3095356,Avatar 4,Avatar 4,2029,0,\N,"Action,Adventure,Fantasy",IN,en
299302,tt30497626,Animal Park,Animal Park,2027,0,\N,"Action,Crime,Drama",CA,en
307037,tt32890033,Minions 3,Mega Minions,2027,0,\N,"Action,Adventure,Animation",CA,en
261714,tt21361444,Avengers: Secret Wars,Avengers: Secret Wars,2027,0,\N,"Action,Adventure,Sci-Fi",IN,en
...,...,...,...,...,...,...,...,...,...
119043,tt0272707,Le Longchamp fleuri,Longchamp in Bloom,1905,0,\N,Documentary,BE,en
119035,tt0272654,De heilige bloedprocessie,The Procession of the Holy Blood,1905,0,\N,Documentary,BE,en
146420,tt0420843,Prinsesse Marie til hest,Princess Marie on Horseback,1903,0,\N,Documentary,XEU,en
87504,tt0127962,La vie et la passion de JÃ©sus Christ,The Life and Passion of Christ,1903,0,45,"Biography,Drama",XWW,en
119023,tt0272561,Le cortÃ¨ge du pÃ¨lerinage des combattants de 18...,Pilgrimage Cortege of the 1830 Veterans of Ste...,1902,0,\N,Documentary,XWW,en

In [96]:
condition_start = df_ok['startYear'] > 1959
df_cond = df_ok[condition_start]

In [97]:
condition_end = df_cond['startYear'] < 2025
df_top = df_cond[condition_end]

In [98]:
df_top.sort_values('startYear',ascending=False, inplace=True)

/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_34435/374520626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top.sort_values('startYear',ascending=False, inplace=True)

In [99]:
df_top= df_top[df_top['runtimeMinutes']!='\\N']

In [100]:
df_top = df_top[df_top['genres'] != r'\N']

In [101]:
df_top[df_top['originalTitle'].apply(lambda x: 'Harry Potter' in x)]

,tconst,originalTitle,title,startYear,isAdult,runtimeMinutes,genres,region,language
307562,tt33042905,Harry Potter and the Stone,Harry Potter and the Stone,2024,0,152,"Comedy,Fantasy",IN,en
190457,tt1201607,Harry Potter and the Deathly Hallows - Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,0,130,"Adventure,Family,Fantasy",ZA,en
161876,tt0926084,Harry Potter and the Deathly Hallows - Part 1,Harry Potter and the Deathly Hallows: Part 1,2010,0,146,"Adventure,Family,Fantasy",ZA,en
145882,tt0417741,Harry Potter and the Half-Blood Prince,Harry Potter and the Half-Blood Prince,2009,0,153,"Action,Adventure,Family",ZA,en
138857,tt0373889,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,2007,0,138,"Action,Adventure,Family",ZA,en
130693,tt0330373,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire,2005,0,157,"Adventure,Family,Fantasy",ZA,en
125456,tt0304141,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban,2004,0,142,"Adventure,Family,Fantasy",ZA,en
124167,tt0295297,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets,2002,0,161,"Adventure,Family,Fantasy",ZA,en
112245,tt0241527,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,2001,0,152,"Adventure,Family,Fantasy",ZA,en

In [102]:
df_top['runtimeMinutes'] = df_top['runtimeMinutes'].astype(int)

In [103]:
df_top = df_top[(df_top['runtimeMinutes'] > 59) & (df_top['runtimeMinutes'] < 220)]

In [104]:
df_top=df_top.drop(columns=['region','language'])

In [105]:
df_rated = pd.merge(df_top,df_ratings, how='inner',left_on='tconst',right_on='tconst')

In [106]:
df_rated[df_rated['originalTitle'].apply(lambda x:'La citÃ©' in x)]

,tconst,originalTitle,title,startYear,isAdult,runtimeMinutes,genres,averageRating,numVotes
45435,tt4660620,La citÃ© muette,The Silenced Walls,2015,0,88,"Documentary,Drama,History",7.0,6
56451,tt2521724,La citÃ© rose,Asphalt Playground,2012,0,97,"Comedy,Crime,Drama",6.4,363
61400,tt1239430,La citÃ©,City of Shadows,2010,0,82,"Drama,History",5.8,139
87590,tt0112682,La citÃ© des enfants perdus,The City of Lost Children,1995,0,112,"Adventure,Drama,Fantasy",7.5,72600
88395,tt0109440,La citÃ© de la peur,Fear City: A Family-Style Comedy,1994,0,100,"Comedy,Horror",7.5,10754
106443,tt0381953,La citÃ© des neuf portes,The City of Nine Gates,1977,0,75,Fantasy,6.8,28

In [107]:
df_num = df_rated[(df_rated['numVotes'] > 2000) & (df_rated['averageRating'] > df_rated['averageRating'].mean())]

In [108]:
df_rated['averageRating'].mean()

np.float64(6.042637133889512)

In [112]:
df_num=df_num[df_num['genres']!='Documentary']

In [124]:
df_num[df_num['originalTitle'].apply(lambda x: 'Superbad' in x)].sort_values('numVotes')

,tconst,originalTitle,title,startYear,isAdult,runtimeMinutes,genres,averageRating,numVotes
68473,tt0829482,Superbad,Superbad,2007,0,113,Comedy,7.6,649781

In [111]:
df_num.value_counts('isAdult')

isAdult
0    17172
1        2
Name: count, dtype: int64

In [118]:
df_no_docu = df_num[~df_num['genres'].str.contains('documentary', case=False, na=False)]

In [120]:
df_no_docu

,tconst,originalTitle,title,startYear,isAdult,runtimeMinutes,genres,averageRating,numVotes
12,tt31015278,Keyke mahboobe man,My Favourite Cake,2024,0,97,"Comedy,Drama,Romance",7.5,3813
36,tt28349451,The Shadow Strays,The Shadow Strays,2024,0,144,"Action,Crime,Thriller",6.5,6679
41,tt2049403,Beetlejuice Beetlejuice,Beetlejuice 2,2024,0,105,"Comedy,Fantasy,Horror",6.8,102067
57,tt28151876,Re la gun tang,Yolo,2024,0,129,"Action,Comedy,Drama",6.9,3142
85,tt15433956,Hanu Man,Hanu Man,2024,0,158,"Action,Adventure,Fantasy",7.8,27778
...,...,...,...,...,...,...,...,...,...
122939,tt0054248,Rocco e i suoi fratelli,Rocco and His Brothers,1960,0,179,"Crime,Drama,Sport",8.2,22190
122963,tt0054067,La maschera del demonio,Black Sunday,1960,0,87,Horror,7.1,18428
122964,tt0054073,Meghe Dhaka Tara,The Cloud-Capped Star,1960,0,126,Drama,7.8,3363
122970,tt0054135,Ocean's Eleven,Oceans Eleven,1960,0,127,"Comedy,Crime,Music",6.5,25753
122980,tt0054353,The Sundowners,The Sundowners,1960,0,133,"Drama,Western",7.1,4965

In [121]:
df_no_docu['genres'].value_counts()

genres
Drama                       1463
Comedy,Drama                 943
Drama,Romance                828
Comedy,Drama,Romance         819
Comedy                       532
                            ...
Adult,Drama                    1
Adventure,Family,Sport         1
Adventure,Crime,Family         1
Crime,History,Mystery          1
Adventure,Romance,Sci-Fi       1
Name: count, Length: 492, dtype: int64

In [122]:
# SÃ©parer les genres multiples en listes
df_no_docu['genres_split'] = df_no_docu['genres'].str.split(',')

# Aplatir toutes les listes de genres dans une seule sÃ©rie
all_genres = df_no_docu['genres_split'].explode().str.strip()

# Compter les occurrences de chaque genre
genre_counts = all_genres.value_counts()

# Afficher les rÃ©sultats
print(genre_counts)

genres_split
Drama        11189
Comedy        5595
Action        3329
Crime         3196
Romance       3023
Thriller      2245
Adventure     1981
Mystery       1361
Biography     1135
Horror        1102
Fantasy        864
History        777
Animation      770
Sci-Fi         594
Family         585
Music          480
War            462
Sport          334
Musical        227
Western        203
Adult            2
Name: count, dtype: int64

/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_34435/510414087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_docu['genres_split'] = df_no_docu['genres'].str.split(',')