In [1]:
import pandas as pd
import requests
from io import BytesIO
import gzip

# URL du fichier IMDB (par exemple title.basics.tsv.gz)
url = "https://datasets.imdbws.com/title.basics.tsv.gz"

# Télécharger le fichier
response = requests.get(url)
response.raise_for_status()  # Vérifie que le téléchargement s'est bien passé

# Décompresser et charger dans un DataFrame
with gzip.open(BytesIO(response.content), 'rt') as f:
    df = pd.read_csv(f, sep='\t')

/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_13570/2278053142.py:15: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, sep='\t')

In [2]:
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
11255247,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
11255248,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
11255249,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
11255250,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
11255251,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [3]:
df_copy = df.copy()

In [4]:
df_movies = df_copy[df_copy['titleType']=='movie']
df_movies.sort_values('startYear', ascending = False)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
9542559,tt6156168,movie,Moms,Moms,0,\N,\N,\N,Documentary
2750940,tt13260170,movie,The Tremble Guest House,The Tremble Guest House,0,\N,\N,\N,\N
5862813,tt23061318,movie,Brain Hunter 1992,Brain Hunter 1992,0,\N,\N,\N,Horror
5862837,tt23061362,movie,Detoks,Detoks,0,\N,\N,\N,Comedy
2751349,tt13260910,movie,Michellina (Animation),Michellina (Animation),0,\N,\N,120,Animation
...,...,...,...,...,...,...,...,...,...
226894,tt0236940,movie,69th Regiment Passing in Review,69th Regiment Passing in Review,0,1898,\N,\N,Documentary
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
219907,tt0229676,movie,Reproduction of the Corbett and Fitzsimmons Fight,Reproduction of the Corbett and Fitzsimmons Fight,0,1897,\N,\N,"Documentary,News,Sport"
5679513,tt2210499,movie,Birmingham,Birmingham,0,1896,\N,61,Documentary
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance

In [5]:
df_col = df_movies.drop(['titleType','endYear'],axis=1)

In [18]:
df_col.info()

<class 'pandas.core.frame.DataFrame'>
Index: 697909 entries, 8 to 11255202
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          697909 non-null  object
 1   primaryTitle    697907 non-null  object
 2   originalTitle   697907 non-null  object
 3   isAdult         697909 non-null  object
 4   startYear       697909 non-null  object
 5   runtimeMinutes  697909 non-null  object
 6   genres          697909 non-null  object
dtypes: object(7)
memory usage: 42.6+ MB

In [7]:
df_star = df_col[df_col['startYear'] != '\\N']

In [17]:
df_star[df_star['primaryTitle']=='The Grudge']

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
355209,tt0370848,The Grudge,Kineh,0,1954,100,"Adventure,Drama"
374657,tt0391198,The Grudge,The Grudge,0,2004,91,"Horror,Mystery,Thriller"
1213135,tt10443830,The Grudge,The Grudge,0,2017,\N,\N
4119114,tt15790824,The Grudge,The Grudge,0,2016,\N,Drama
4400891,tt16425368,The Grudge,The Grudge,0,2020,\N,Drama
8418787,tt3612126,The Grudge,The Grudge,0,2019,94,"Fantasy,Horror"

In [33]:
df_star['startYear'] = pd.to_numeric(df_star['startYear'], errors='coerce')

/var/folders/w1/qtwp73x57d39n1yby0x4vj800000gn/T/ipykernel_13570/3970417085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_star['startYear'] = pd.to_numeric(df_star['startYear'], errors='coerce')

In [34]:
condition_start = df_star['startYear'] > 1936
df_cond = df_star[condition_start]

In [35]:
condition_end = df_cond['startYear'] < 2025
df_cond_end = df_cond[condition_end]

In [36]:
df_cond_end[df_cond_end['primaryTitle']=='The Grudge']

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
355209,tt0370848,The Grudge,Kineh,0,1954,100,"Adventure,Drama"
374657,tt0391198,The Grudge,The Grudge,0,2004,91,"Horror,Mystery,Thriller"
1213135,tt10443830,The Grudge,The Grudge,0,2017,\N,\N
4119114,tt15790824,The Grudge,The Grudge,0,2016,\N,Drama
4400891,tt16425368,The Grudge,The Grudge,0,2020,\N,Drama
8418787,tt3612126,The Grudge,The Grudge,0,2019,94,"Fantasy,Horror"

In [37]:
df_cond_end.sort_values('startYear')

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
28112,tt0028626,Bidyapati,Bidyapati,0,1937,141,Drama
28113,tt0028627,Big Business,Big Business,0,1937,60,"Adventure,Comedy"
28114,tt0028628,Big City,Big City,0,1937,80,"Drama,Romance"
28115,tt0028629,Big Fella,Big Fella,0,1937,73,"Drama,Musical"
28117,tt0028631,Big Town Girl,Big Town Girl,0,1937,66,"Comedy,Crime,Drama"
...,...,...,...,...,...,...,...
5271669,tt20764876,Every Day,Every Day,0,2024,97,Drama
7610562,tt31861318,La marcha del Hambre,La marcha del Hambre,0,2024,90,Documentary
7610614,tt31861434,Jyukinshi,Jyukinshi,0,2024,103,"Drama,Horror"
2383568,tt12571788,Coven of Dixon Cliff,Coven of Dixon Cliff,0,2024,\N,Fantasy
7120479,tt29567635,A King Like Me,A King Like Me,0,2024,90,Documentary

In [38]:
df_movies.to_csv('movies.tsv', sep='\t', index=False)